.home-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro-text {
  position: relative;
  z-index: 2;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.intro-text h1 {
  font-size: 6vw;
  margin-bottom: 1vh;
  font-weight: 700;
}

.intro-subtext {
  font-size: 2vw;
  margin-bottom: 3vh;
}

.cta-button {
  padding: 15px 30px;
  font-size: 1.5vw;
  color: #fff;
  background-color: #ff833b;
  border-radius: 50px;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
  background-color: #fff;
  color: #ff833b;
  border: 2px solid #ff833b;
}

@media (max-width: 768px) {
  .intro-text h1 {
	font-size: 8vw;
  }

  .intro-subtext {
	font-size: 4vw;
  }

  .cta-button {
	font-size: 4vw;
	padding: 10px 20px;
  }
}